@font-face{
    font-family: 'Norse';
    src:
        url("fonts/Norse-Bold.woff2") format("woff2"),
        url("fonts/Norse-Bold.woff") format("woff");
        font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  h1 {
    font-family: "Norse";
    font-size: 80px;
  }
  .container, .logo, body, .form-controls, .row, .column, .input-section{
    display: flex;
  }
  .container {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    justify-content: center;
    margin-top: 20%;
  }
  .logo {
    background-image: url(background.jpg);
    width: 30%;
    height: 100vh;
    flex-direction: column;
  }
  .left {
    flex-direction: column;
    margin-right: 3%;
  }
  section h1 {
    color: white;
  }
  .form-container {
    background-color: aliceblue;
    flex: 1;
    padding-top: 5%;
    text-align: center;
  }
  .input-section {
    background-color: white;
    padding: 5%;
    box-shadow:  2px 2px 3px grey;
    flex-direction: column;
    align-items: center;
  }
  .input-section>p{
    margin: 2%;
  }
  .row {
    width: 50%;
    gap: 35px;
  }
  .column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .form-container a{
    color: #596D48;
    text-decoration: none;
  }
  button {
    background-color: #596D48;
    color: white;
    width: 15%;
    border-radius: 5px;
    margin-top: 20px;
  }
  input{
    border: 1px #E5E7EB solid;
    width: 100%;
  }
  input:focus{
    border: 2px lightblue solid;
    box-shadow: 5px 5px 10px lightblue;
    outline: none;
  }
  #password:invalid, #confirm:invalid{
    border: 1px red solid;
  }
  .footer, .footer a {
    color: white;
  }
  .footer {
    position: absolute;
    bottom: 0;
    padding-left: 10%;
  }